@charset "gb2312";
/* css */
* { margin: 0; padding: 0 }
body { font: 15px "Microsoft YaHei", Arial, Helvetica, sans-serif; color: #555; background: #efefef; }
img { border: 0; display: block }
ul { list-style: none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
a { outline: none; }
a:link, a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
.clear { clear: both; }
.blank { height: 5px; overflow: hidden; width: 100%; margin: auto; clear: both }
/*  */
.ibody { background: rgba(255,255,255,0.5); width: 1000px; margin: auto; }
header { position: relative; box-shadow: -2px -1px 5px #e8e8e8; background-color: #fdfdfd; }
header h1 { padding: 15px 0 0 80px; font-size: 22px; font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif; }
header h2 { margin: 20px 80px; color: #8e8d8d }
.logo_div {height: 60px;width: 24%;line-height: 60px;font-size: 22px;color: #555;}
nav {height: 60px; align-items: center; width: 1000px; margin: 0 auto; display: flex;}
.content { padding-top: 80px; margin: 0 auto 20px; display: flex; width: 1000px; justify-content: space-between;}
.right-side{width: 74%;}
.left-side{width: 24%;}

::-webkit-scrollbar-track-piece {
    background-color: #fff;
    -webkit-border-radius: 0
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px
}
::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #b8b8b8;
    -webkit-border-radius: 6px;
    outline: 2px solid #fff;
    outline-offset: -2px;
    border: 2px solid #fff;
    filter: alpha(opacity = 50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5
}
::-webkit-scrollbar-thumb:hover {
    height: 50px;
    background-color: #878987;
    -webkit-border-radius: 6px
}
.menu_c {
    padding: 15px 0;
    cursor: pointer;
}
.menu_icon { display: none; position: relative; width: 30px; height: 5px; background-color: #92928c; cursor: pointer;}
.menu_icon:before, .menu_icon:after { content: ''; display: block; width: 30px; height: 5px; position: absolute; background: #92928c; -webkit-transition-property: margin, -webkit-transform; transition-property: margin, -webkit-transform; transition-property: margin, transform; transition-property: margin, transform, -webkit-transform; -webkit-transition-duration: 300ms; transition-duration: 300ms; }
.menu_icon:before { margin-top: -10px; }
.menu_icon:after { margin-top: 10px; }
.open .menu_icon {background: none; display: block;}
.open .menu_icon:before { margin-top: 0; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.open .menu_icon:after { margin-top: 0; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
.open .menu_icon:before, .open .menu_icon:after { content: ''; display: block; width: 30px; height: 5px; position: absolute; background: #92928c; }
header {position: fixed;width: 100%;height: 60px;z-index: 999;}