@media screen and (min-width: 960px) and (max-width: 1223px) {
    nav {
        width: 96%;
    }
    .content {
        width: 96%;
    }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
    nav {
        width: 96%;
        .topnav_div {
            a {
                padding: 0 6px;
            }
        }
    }
    .content {
        width: 96%;
        .card .card_info .category_list li {
            width: 100%;
        }
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    nav {
        width: 96%;
        justify-content: space-between;
        .menu_icon {
            display: block;
        }
        .logo_div {
            width: auto;
        }
    }
    .topnav_div{
        display:none;
        background: rgba(255,255,255,1)
    }
    .open .topnav_div {
        display: block;
        position: fixed;
        background: #fff;
        height: auto !important;
        z-index: 99;
        left: 0;
        top: 60px;
        a {
            display: block;
            padding: 5px 20px;
            width: 160px;
            background: #fff;
        }
        margin-left: 0 !important;
    }

    .content {
        width: 96%;
        flex-wrap: wrap-reverse;
        margin-top: 0;
        .left-side {
            width: 100%;
        }
        .right-side {
            width: 100%;
        }
    }

}